<div class='jumbotron center'>
    <h1>See images that you never see before</h1>
    <p>You will thank me later</p>
    <%= link_to 'Sign in', root_path, class:'btn btn-primary'%>
    <%= link_to 'Sign up', root_path, class:'btn btn-success'%>
</div>
