<div class='jumbotron center'>
    <h1>See images that you never seen before</h1>
    <p>You will thank me later</p>
    <%= link_to 'Sign in', new_user_session_path, class:'btn btn-primary'%>
    <%= link_to 'Sign up', new_user_registration_path, class:'btn btn-success'%>
</div>
